:root {
    --color-dark: #8e9b8e;
    --color-darkest: #6c6da3;
    --color-light: white;
    --color-primary: #000000;

    --color-bg-body: var(--color-darkest);

    --distance-primary: 50px;
    --padding-primary: var(--distance-primary);
    --margin-primary: var(--distance-primary);
    --border-radious-primary: calc(var(--distance-primary)/2);

    --font-family-primary: 'Poppins', sans-serif;
    --font-wieght-bold: 900;
    --font-wieght-normal: 400;


}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
    background-color: var(--color-bg-body);
    font-family: var(--font-family-primary);
}

ul {
    list-style-type: none;

}
li {
    position: relative;
}

a {
    text-decoration: none;
}